.input-center {
    text-align: center;
    width: 100%
}

.tblColumns th,td {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.form-control {
    padding: 0.13rem 0.75rem !important;
}
.row-color {
    background: -webkit-linear-gradient(135deg, #5496ff 0%, #8739e6 100%);
    color: #fff
}